#----------------------------------
# Test api data (@TestOfMorfejBot)
#----------------------------------
Google Apps Script URL for booking submissions
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyyHf9nimBNrXW7uApeyztyVWTlUNwjx4iUodPIo-QTKS9fppE4MCO5s1ZlMViYMTAf/exec

# Telegram Bot Configuration
VITE_TELEGRAM_BOT_TOKEN=7851397475:AAFOS-MRDFTp9EXoyTozuXzG5IBYtHSnaRA
VITE_TELEGRAM_CHAT_ID=7606207943

# How to get VITE_TELEGRAM_CHAT_ID?
# https://api.telegram.org/bot7851397475:AAFOS-MRDFTp9EXoyTozuXzG5IBYtHSnaRA/getUpdates
# where 7851397475:AAFOS-MRDFTp9EXoyTozuXzG5IBYtHSnaRA is VITE_TELEGRAM_BOT_TOKEN
